html {
    background-color: lavenderblush;
  }

.layout-container {
    margin: 3rem auto;
    max-width: 650px;
    padding: 0 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
}

nav ul {
    list-style: outside none none;

}
